.flex {
    display: flex
}

.wrap {
    flex-wrap: wrap;
}

/* NOTE: Make bigger. For responsive, just make smaller and smaller at the right checkpoints. */
.grid {
    border: 2px solid green;
    width: 450px;
    height: 450px;
}

.grid div {
    width: 30px;
    height: 30px;
}

.spacecraft {
    background-color: blue;
}

.enemy {
    background-color: black;
    border-radius: 50%;
}

.shot {
    background-color: red;
    border-radius: 0%;
}

.bullet {
    background-color: yellow;
}